/*****************************公共样式*****************************/
* {
	box-sizing:border-box;
}
html,body {
	height:100%;
	background:#f1f1f1;
	color:#333;
}
#__nuxt {
	height:100%;
	overflow-x: hidden;
}
#sign-template {
	height:100%;
	background:#f1f1f1;
}
#default-template {
	height:100%;
	padding-top:56px;
	background:#ffff;
}
a,a:hover,a:focus{
	text-decoration: none !important;
	color: inherit !important;
}
input:focus{
	outline: none;
}
ul,ol,dl{
	list-style:none;
	margin:0!important;
	padding:0!important;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
img{
	max-width: 1000%;
	display: block;
}
.my-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
@media (min-width: 992px){
	.my-container {
		width: 960px!important;
	}
}
@media (max-width: 1080px){
	.my-container {
		width: 750px!important;
	}
}

/*****************************首页布局*******************************/
.index{
	padding-top: 30px;
	padding-left: 30px;
}
.index .main{
	padding-right: 0;
}
.index .main *:focus{
	boder: none!important;
}
.index .aside{
	padding: 0 0 0 4.16667%;
}
.index .aside .board{
	margin-top: -4px;
}
.index .aside .board img{
	width: 100%;
	margin-bottom: 6px;
}
/*****************************文章页面布局*****************************/
/*****************************其他*****************************/